<div class="pages-body error-page flex flex-column">
    <div class="align-self-center mt-auto mb-auto">
        <div class="pages-panel card flex flex-column">
            <div class="pages-header px-3 py-1">
                <h2>ERRO</h2>
            </div>
            <div class="card mt-3 px-6">
                <img style="max-width: 60px" src="../../../assets/layout/images/logo-governo-goias.png" alt="Estado de Goiás"/>
                <h5>Secretaria-Geral de Governo</h5>
            </div>
            <div class="pages-detail pb-6">
                <b>
                    <p class="login-box-msg">Ocorreu um erro na aplicação.</p>
                </b>
                <p class="login-box-msg">Por favor contate o administrador do sistema.</p>

            </div>
            <button pButton pRipple type="button" label="Voltar para Página Inicial" class="p-button-text"></button>
        </div>
    </div>
</div>
