.loading{
  margin: auto;
}
.loading {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.sistemas.go.gov.br/sistemas/ligthblue/bg-pattern.svg),linear-gradient(141deg, #004d46 0%, #00695F 70%, #007c71 100%);
  background-size: cover;
  z-index: 99999;
  align-items: center;
  justify-content: center;
}

svg {
  z-index: 100000;
}
