$primaryColor:#4CAF50;
$primaryLightestColor: #E8F5E9;
$primaryMenuTextColor: #00695F;
$primaryTextColor:#ffffff;
$accentColor:#af4cac;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
